@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --black: hsl(0, 0%, 7%);
    --dark-blue: hsl(217, 60%, 14%);
    --red: hsl(0, 100%, 34%);
    --yellow: hsl(45, 100%, 43%);
    --white: hsl(0, 0%, 100%);
    --gray: hsl(0, 0%, 94%);
    --gray-origin: hsl(0, 0%, 98%);
    --gray-back: hsl(0, 0%, 94%);

    --h-font: 'Monomaniac One', sans-serif;
    --p-font: 'Roboto Condensed', sans-serif;

    --link-size: 20px;
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li{
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none;
}
input,
button,
textarea,
select {
    font: inherit;
}
button{
    border: none;
}
img, picture{
    display: block;
    max-width: 100%;
}
body{
    min-height: 100vh;
    font-size: 16px;
}