---
import Hero from "../../components/Hero.astro"
import MainLayout from "../../layouts/MainLayout.astro"
import Inscription from "../../components/Inscription.astro"
import Futbol from "../../components/Futbol.astro"
import Galery from "../../components/Galery.astro"

const desc = "El fútbol no es solo un deporte, es una pasión que se vive. Si tenes entre 4 y 17 años, vení a formar parte del club donde los sueños se hacen realidad. Desarrolla tu talento, crea amistades para toda la vida y conviértete en la próxima estrella. Contamos con equipos masculinos y femeninos. ¡Inscribite ahora y prepárate para la aventura de tu vida!";
---
<MainLayout>
	<main>
		<Hero general="futbol" title={"Granaderos en el alma, fútbol en el corazón"}/>
		<div class="container">
			<Futbol/>
			<Galery/>
			<Inscription description={desc}/>
		</div>
	</main>
</MainLayout>

<style>
	main{
		width: 100%;
		display: grid;
		background-color: var(--gray);
		padding-bottom: 7rem;
	}
	.container{
		place-self: center;
		max-width: 1620px;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}
</style>