---

// import GameInfo from "../components/GameInfo.astro"
import Hero from "../components/Hero.astro"
import MainNews from "../components/MainNews.astro"
import Sponsors from "../components/Sponsors.astro"
import MainLayout from "../layouts/MainLayout.astro"

---
<MainLayout>
	<main>
		<Hero general="home" title={"Club Deportivo"} title2={"Granaderos de Koslay"} subtitle={"Grandeza en el camino"}/>
		<div class="container">
			<Sponsors/>
		</div>
		<section class="main">
			
			<div class="news">
				<div class="title-cont">
					<h2 class="title">Noticias principales</h2>
					<a href="/news" class="link-d">Ver todas las noticias</a>
				</div>
				
				<MainNews/>
				<a href="/news" class="link-m">Ver todas las noticias</a>
			</div>
		</section>
	</main>
</MainLayout>

<style>
	.container{}
	.main{
		display: flex;
		justify-content: center;
		gap: 1.5rem;
		padding-block: 4rem;
		background-color: white;
	}
	.games{
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
	.title-cont{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.title{
		font-family: var(--p-font);
		font-size: 26px;
		margin-bottom: 5px;
	}
	a{
		text-transform: uppercase;
		font-family: var(--p-font);
		font-size: 15px;
		color: crimson;
		font-weight: 500;

	}
	.news{
		margin-inline: 1rem;
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
	}
	.link-m{
		display: none;
	}
	@media screen and (max-width: 1024px) {
   
	}
	@media screen and (max-width: 768px) {

	}
	@media screen and (max-width: 550px) {
		.title{
			text-align: center;
		}
		.title-cont{
			flex-direction: column;
		}
		.link-d{
			display: none;
		}
		.link-m{
			margin-top: 2rem;
			display: block;
			align-self: center;
			font-size: 13px;
		}
	}
</style>