---

import Hero from "../components/Hero.astro"
import MainLayout from "../layouts/MainLayout.astro"

---
<MainLayout>
	<main>
		<Hero general="home" title={"Club Deportivo"} title2={"Granaderos de Koslay"} subtitle={"Grandeza en el camino"}/>
		<div class="container">
			
		</div>
	</main>
</MainLayout>