---
---
<footer class="footer">
    <div class="top">
        <figure>
            <img src="/assets/images/brand.png" alt="">
        </figure>
    </div>
    <div class="bottom">
        <p>@Copyright - Club Deportivo Granaderos de Koslay - <span id="footer-year"></span></p>
    </div>
</footer>
<style is:global>
     .footer{
        background-color: var(--bg-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 400px;
    }
    @media screen and (max-width: 550px) {
        .footer{
            /* margin-top: 50px; */
        }
    }
</style>
<style>
    .top{
        flex-grow: 1;
        display: flex;
        align-items: center;
    }
    .bottom{
        display: flex;
        align-items: center;
        justify-content: center;
        /* background-color: var(--dark-blue); */
        color: var(--white);
        font-family: var(--p-font);
        font-weight: 300;
        font-size: 14px;
        width: 100%;
        margin-bottom: 2rem;
        letter-spacing: 1px;
    }
    @media screen and (max-width: 550px) {
        .bottom{
            font-size: 12px;
        }
    }
</style>

<script is:inline >
    const handleFooterYear = () => {
        document.getElementById("footer-year").innerText = new Date().getFullYear();
    };

    handleFooterYear();
    document.addEventListener("astro:after-swap", () => handleFooterYear());
</script>