---
---
<footer class="footer">
    <div class="top">
        <figure>
            <img src="/assets/images/brand.png" alt="">
        </figure>
    </div>
    <div class="logos-f">
        <a class="info-logo-f info-logo-ins-f" href="https://www.instagram.com/granaderos_de_koslay/">
            <svg class="icon-f" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#F0F0F0" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
                <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                <path d="M16.5 7.5l0 .01" />
            </svg>
        </a>
        <a class="info-logo-f" href="https://api.whatsapp.com/send?phone=5492664321873">
            <svg class="icon-f" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#F0F0F0" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" />
                <path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" />
              </svg>
        </a>
    </div>
    <div class="bottom">
        <p>@Copyright - Club Deportivo Granaderos de Koslay - <span id="footer-year"></span></p>
    </div>
</footer>
<style is:global>
     .footer{
        background-color: var(--bg-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 400px;
    }
</style>
<style>
    .top{
        flex-grow: 1;
        display: flex;
        align-items: center;
    }
    .bottom{
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--white);
        font-family: var(--p-font);
        font-weight: 300;
        font-size: 14px;
        width: 100%;
        margin-bottom: 2rem;
        letter-spacing: 1px;
    }
    .logos-f{
        display: flex;
        justify-content: center;
        gap: 2rem;
        padding-bottom: 2rem;
    }
    .info-logo-f{
        height: 40px;
        width: 40px;
        display: flex;
        align-items: flex-end;
    }
    .info-logo-ins-f{
        height: 42px;
        width: 42px;
    }
    .icon-f{  
        width: 100%;
        height: 100%;
    }
    @media screen and (max-width: 550px) {
        .bottom{
            font-size: 12px;
        }
    }
</style>

<script is:inline >
    const handleFooterYear = () => {
        document.getElementById("footer-year").innerText = new Date().getFullYear();
    };

    handleFooterYear();
    document.addEventListener("astro:after-swap", () => handleFooterYear());
</script>