---
---
<section class="container">
    <div class="sponsors">
        <figure class="sponsor">
            <img src="../assets/images/cruce.png" alt="" class="sponsor-img">
            <figcaption>El Nuevo Cruce</figcaption>
        </figure>
        <figure class="sponsor">
            <img src="../assets/images/martilleros.png" alt="" class="sponsor-img">
            <figcaption>Martilleros Group Inmobiliaria</figcaption>
        </figure>
    </div>
</section>

<style>
    .container{
        width: 100%;
        min-height: 10vh;
        background-color: var(--gray);
        display: flex;
        padding-block: 2rem;
    }
    .sponsors{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    figure{
        max-width: 100px;
    }
    img{
        width: 100%;
        opacity: 0.8;
        filter: grayscale(1);
    }
    figcaption{
        text-align: center;
        font-family: var(--p-font);
        font-size: 13px;
    }
</style>