---
import { ViewTransitions } from "astro:transitions"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"


---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
        <link rel="stylesheet" href="./css/global.css">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="Club Deportivo Granaderos de Koslay - Fútbol Masculino y Femenino - 4 a 17 años">
		<meta name="author" content={'Leandrho'}>
		
		<!-- OG Metatags -->
		<meta property="og:title" content="Club Deportivo Granaderos de Koslay">
		<meta property="og:description" content="Club Deportivo Granaderos de Koslay - Fútbol Masculino y Femenino - 4 a 17 años">
		<meta property="og:image" content="./assets/brand.png">
		
		<title>Granaderos de Koslay</title>
		<ViewTransitions/>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<style>
	body{
		background-color: var(--gray);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
</style>
