---
const paths = [{name: 'Inicio', ref: '/'}, {name: 'Noticias', ref: '/news/'}, {name: 'Fútbol', ref: '/futbol/'},  {name: 'Rugby', ref: '/rugby/'}, {name: 'El Club', ref: '/club/'}];
const currentPath = Astro.url.pathname;
---
<div class="container">
    <nav>
        <ul id="ul-nav">
            {
                paths.map((path) => (
                    <li>
                        <a  href={path.ref} class="nav-link" data-link={currentPath}>
                            {path.name}
                        </a>
                        {
                            currentPath == path.ref ? (<div  transition:name="nav-transition" class="nav-line active" ></div>)
                                                    : <div  class="nav-line" ></div>
                        }
                    </li>
                ))
            }
            <li><a href="/contact" class="nav-but">Contacto</a></li>
            <li>
                <div class="logos">
                    <a class="info-logo info-logo-ins" href="https://www.instagram.com/granaderos_de_koslay/">
                        <svg class="icon" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#AD0000" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                            <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
                            <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                            <path d="M16.5 7.5l0 .01" />
                        </svg>
                    </a>
                    <a class="info-logo" href="https://api.whatsapp.com/send?phone=5492664321873">
                        <svg class="icon" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#4CAF50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" />
                            <path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" />
                          </svg>
                    </a>
                </div>
            </li>
        </ul>
    </nav>
    <div class="btn">
        <label for="menu" class="menu-open" aria-label="button menu"></label>
        <input type="checkbox" id="menu"></input>
    </div>
</div>
<style>
  
    .container{
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 2rem;
    }
    nav{
        font-family: var(--h-font);
        background-color: var(--gray);
        display: flex;
    }
    ul{
        display: flex;
        gap: 1.5rem;
    }
    .nav-line{
        padding-top: 5px;
        border-bottom: 3px solid transparent;
    }
    .active{
        border-bottom-color: var(--yellow);
    }
    .nav-link{
        color: inherit;
        font-size: var(--link-size);
    }
    .nav-linsk:hover{
       border-bottom: 3px solid rgba(17, 17, 17, 0.2);
    }
    .nav-but{
        font-size: 17px;
        color: var(--white);
        background-color: var(--red);
        padding: 0.5rem 1.5rem;
        border-radius: 0.5rem;
        letter-spacing: 2px;
    }
    .btn, #menu{
        display: none;
    } 
    .menu-open{
        background-image: url(/assets/images/hamb.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 44px;
        width: 44px;
        transition: background-image ease 0.5s 0.3s;
    }
    .btn:has(#menu:checked) .menu-open{
        background-image: url(/assets/images/close.svg);
    }
    .container:has(#menu:checked) nav{
        display: flex;
        opacity: 1;
        transform: translateX(0%);
    }
    .logos{
        display: none;
        justify-content: center;
        gap: 2rem;
    }
    .info-logo{
        height: 40px;
        width: 40px;
        display: flex;
        align-items: flex-end;
    }
    .info-logo-ins{
        height: 42px;
        width: 42px;
    }
    .icon{  
        width: 100%;
        height: 100%;
    }
    @media screen and (max-width: 1024px) {
        .nav-link{
            font-size: 17px;
        }
        .nav-but{
            font-size: 15px;
            padding: 0.1rem 1rem;
            letter-spacing: 1px;
        }
        ul{
            gap: 1.25rem;
        }
    }
    @media screen and (max-width: 768px) {
        .btn{
            display: flex;
            position: fixed;
            height: 44px;
            width: 44px;
            right: 1rem;
            top: 2rem;
            z-index: 100;
        }
        nav{
            position: fixed;
            height: 100%;
            width: 100%;
            inset: 0;
            
            z-index: 100;
            transform: translateX(100%);
            transition: transform ease 0.7s;
            align-items: center;
            justify-content: center;
        }
        nav ul{
            flex-direction: column;
            justify-content: center;

            gap: 3rem;
        }
        .nav-link{
            font-size: 24px;
        }
        .nav-but{
            font-size: 18px;
            padding: 1rem 2rem;
            letter-spacing: 2px;
        }
        .logos{
            display: flex;
        }
       
    }
    @media screen and (max-width: 550px) {
        .menu-open{
            height: 32px;
            width: 32px;
        }
        .nav-link{
            font-size: 18px;
        }
        .nav-but{
            font-size: 16px;
            padding: 0.75rem 2rem;
            letter-spacing: 2px;
        }
    }
</style>